// Define executors for PBS Pro
process.executor = 'pbspro'
process.queueSize = 49
process.clusterOptions = '-lselect=1:ncpus=40:mem=480gb -l walltime=08:00:00'

// Set default process configurations
process {
    withName:runCellRanger {
        executor = 'pbspro'
        clusterOptions = '-lselect=1:ncpus=40:mem=480gb -l walltime=08:00:00'
    }
}

// Define pipeline parameters
params {
    data_dir = "/rds/general/user/pr422/home/samples_part2.csv"
    outdir = "/rds/general/user/pr422/home/PhD/DATA/epilep/mouse/hippo/output"
    genome = "/rds/general/user/pr422/home/PhD/refrence_genome/mouse/refdata-gex-GRCm39-2024-A"
    cellranger = "/rds/general/user/pr422/home/PhD/cellranger/cellranger-8.0.1/cellranger"
}

// Set global work directory
workDir = '/rds/general/user/pr422/projects/puklandmarkproject/ephemeral/Nextflow_test'

// Enable monitoring features
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
    overwrite = true
}
