process.executor = 'pbspro'
process.queueSize = 49
process.clusterOptions = '-lselect=1:ncpus=8:mem=48gb -l walltime=24:00:00'

// General process resource definitions
process {
    cpus   = { 1 * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h * task.attempt }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withLabel:process_tiny {
        cpus   = { 2 * task.attempt }  // up to 2 CPUs
        memory = { 6.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 2 * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 4 * task.attempt }
        memory = { 24.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 8 * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }

    withLabel:process_long {
        cpus   = { 4 * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }

    withLabel:process_high_memory {
        cpus   = { 8 * task.attempt }
        memory = { 96.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}

// Singularity and Apptainer settings
singularity {
    enabled = true
    cacheDir = "/rds/general/user/pr422/ephemeral/singularity_cache"
    pullTimeout = '60m'
    runOptions = "--bind /rds/general"
}

apptainer {
    cacheDir = "/rds/general/user/pr422/ephemeral/singularity_cache"
}

// Define the working directory
workDir = "/rds/general/user/pr422/home/PhD/nfcore/scdownstream/tmp"

// Add monitoring and reporting settings
timeline {
    enabled = true
    file = "/rds/general/user/pr422/home/PhD/nfcore/scdownstream/output/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "/rds/general/user/pr422/home/PhD/nfcore/scdownstream/output/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "/rds/general/user/pr422/home/PhD/nfcore/scdownstream/output/trace.txt"
    overwrite = true
}

// Define pipeline parameters
params {
    input             = "/rds/general/user/pr422/projects/puklandmarkproject/live/Users/Parisa/DATA/DATA/epilep/mouse/hippo/input_for_scdownstream_h5adfiles/csv_files/samplesheet_S2R_S9R_S17R.csv"
    outdir            = "/rds/general/user/pr422/home/PhD/nfcore/scdownstream/output/output_full_pipeline"
    ambient_removal   = "decontx"
    doublet_detection = "doubletdetection"
    integration_methods = "scvi,scanvi"
    integration_hvgs   = 10000
    clustering_resolutions = "0.3"
    cluster_per_label  = true
    cluster_global     = true
    celltypist_model   = "Mouse_Whole_Brain"
    memory_scale       = 1
}
