// Set executor for PBS Pro and configure resource allocation
process.executor = 'pbspro'
process.queueSize = 49

// General process resource definitions
process {

    withLabel:process_tiny {
        cpus   = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 4 * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 8 * task.attempt }
        memory = { 96.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

  withLabel:process_high {
    cpus = { 10 * task.attempt }
    memory = { 120.GB * task.attempt }
    time = { 24.h * task.attempt }
}

    withLabel:process_long {
        cpus   = { 4 * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }

    withLabel:process_high_memory {
        cpus   = { 20 * task.attempt }
        memory = { 240.GB * task.attempt }
        time   = { 7.h * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    
    withName: '.*:EMPTY_DROPLET_REMOVAL:CELLBENDER_REMOVEBACKGROUND|.*:AMBIENT_RNA_REMOVAL:CELLBENDER_REMOVEBACKGROUND|.*:AMBIENT_RNA_REMOVAL:CELLBENDER_MERGE' {
        cpus   = { 20 * task.attempt } 
        memory = { 480.GB * task.attempt }
        time   = { 24.h * task.attempt } 
        errorStrategy = 'retry'
        maxRetries = 3
    }
}

// Singularity settings
singularity {
    enabled = true
    cacheDir = "/rds/general/user/${USER}/ephemeral/singularity_cache"
    pullTimeout = '120m'
}

apptainer {
    cacheDir = "/rds/general/user/${USER}/ephemeral/singularity_cache"
}

// Nextflow working directory
workDir = '/rds/general/user/${USER}/ephemeral/NEXTFLOW/'


// Pipeline parameters 
params {
    ambient_removal       = "cellbender"
    doublet_detection     = "scrublet"
    memory_scale          = 1
}

report {
    enabled = true
    file = "/rds/general/user//projects/puklandmarkproject/ephemeral/Parisa_scdownstream/output_preprocess/run1/scdownstream.html"
    overwrite = true
}