// Executor and queue settings
process.executor = 'pbspro'
process.queueSize = 49
process.clusterOptions = { "-l select=1:ncpus=${task.cpus}:mem=${task.memory.toMega()}mb -l walltime=${task.time.toHours()}:00:00" }

// Process resource classes
process {

    withLabel:process_single {
        cpus   = { 2                   }
        memory = { 12.GB * task.attempt * params.memory_scale }
        time   = { 8.h  * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 8     * task.attempt }
        memory = { 48.GB * task.attempt * params.memory_scale }
        time   = { 4.h   * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 64    * task.attempt }
        memory = { 500.GB * task.attempt * params.memory_scale }
        time   = { 24.h   * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 40 * task.attempt }
        memory = { 480.GB * task.attempt * params.memory_scale }
        time   = { 24.h * task.attempt }
    }

    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }

   withLabel:process_high_memory {
        cpus   = { 64 * task.attempt }
        memory = { 500.GB * task.attempt * params.memory_scale }
        time   = { 24.h * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    withName: '.*:CELLBENDER_.*|SCVITOOLS_SCVI|.*:ADATA_UNIFY' {
        label = 'process_high_memory'
        errorStrategy = 'retry'
        maxRetries = 3
    }
}

singularity {
    enabled = true
    cacheDir = "/rds/general/user/pr422/ephemeral/singularity_cache"
    pullTimeout = '120m'
}

apptainer {
    cacheDir = "/rds/general/user/pr422/ephemeral/singularity_cache"
}

workDir = '/rds/general/user/pr422/projects/puklandmarkproject/ephemeral/Parisa_scdownstream/scdown_old_samples/NEXTFLOW/'

report {
    enabled = true
    file = "/rds/general/user/pr422/projects/puklandmarkproject/ephemeral/Parisa_scdownstream/scdown_old_samples/output/celltypist/scdownstream.html"
    overwrite = true
}